{% extends 'index.html' %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Selamat Datang {{user.fullname}}</h5>
            </div>
            <div class="card-body">
                <p>Nama Lengkap: {{user.fullname}}</p>
                <p>Email: {{user.email}}</p>
                <div class="col-12">
                    <a href="{{url_for('logout')}}" class="btn btn-primary">Sign Out</a>
                    <a href="{{url_for('employed')}}" class="btn btn-primary">Data Karyawan</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}