{% extends 'index.html' %}
{% block title %} Data Karyawan {% endblock %}


{% block content %}
    <div class="col-md-5">
        <a href="{{url_for('add_employed')}}" class="btn btn-primary mb-3">Add Employment</a>
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">
                    Data Karyawan
                </h5>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
              
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
            </div>
        </div>
    </div>
{% endblock %}